# Bibliotecas

In [25]:
import pandas as pd
import numpy as np
%pip install seaborn
import seaborn as sb
%pip install matplotlib
import matplotlib.pyplot as plot

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.11 from "/bin/python3.11"
  * The NumPy version is: "1.21.5"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: No module named 'numpy.core._multiarray_umath'

# API -Tesouro Transparente

In [ ]:
url = 'https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv'

# Organizando o Dataframe

In [ ]:
df = pd.read_csv(url, sep =';')
df.tail()

NameError: name 'pd' is not defined

# Organizando as datas

In [ ]:
df['Data Base'] = pd.to_datetime(df['Data Base'], dayfirts = True)
df['Data Vencimento'] = pd.to_datetime(df['Data Vencimento'], dayfirts = True)

# Análise Exploratória do Dataframe

In [ ]:
#Tamanho do corpo(linhas e colunas)
df.shape

(134120, 8)

In [ ]:
#Verificando valores faltantes
df.isnull().sum()

Tipo Titulo          0
Data Vencimento      0
Data Base            0
Taxa Compra Manha    0
Taxa Venda Manha     0
PU Compra Manha      0
PU Venda Manha       0
PU Base Manha        0
dtype: int64

In [ ]:
# 1° Verificando Títulos únicos
titulo = df['Tipo Titulo'].unique()
titulo

array(['Tesouro IPCA+ com Juros Semestrais', 'Tesouro IPCA+',
       'Tesouro IGPM+ com Juros Semestrais',
       'Tesouro Prefixado com Juros Semestrais', 'Tesouro Selic',
       'Tesouro Prefixado', 'Tesouro Renda+ Aposentadoria Extra',
       'Tesouro Educa+'], dtype=object)

In [ ]:
# 2° Verificando Data base únicos
data_base = df['Data Base'].unique()
data_base

array(['29/07/2009', '28/07/2009', '27/07/2009', ..., '28/02/2005',
       '25/02/2005', '24/02/2005'], dtype=object)

In [ ]:
df.head()

,Tipo Titulo,Data Vencimento,Data Base,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha
0,Tesouro IPCA+ com Juros Semestrais,15/08/2020,29/07/2009,"6,49","6,57","1823,60","1812,73","1812,11"
1,Tesouro IPCA+ com Juros Semestrais,15/05/2017,29/07/2009,"6,57","6,63","1803,29","1796,98","1796,36"
2,Tesouro IPCA+ com Juros Semestrais,15/05/2015,29/07/2009,"6,58","6,64","1814,60","1809,60","1808,98"
3,Tesouro IPCA+ com Juros Semestrais,15/05/2011,29/07/2009,"5,58","5,60","1876,22","1875,62","1875,05"
4,Tesouro IPCA+ com Juros Semestrais,15/08/2012,29/07/2009,"6,30","6,34","1875,46","1873,52","1872,89"

In [ ]:
# 3° Verificando Vencimentos únicos
data_vencimento=df['Data Vencimento'].unique()
data_vencimento

array(['15/08/2020', '15/05/2017', '15/05/2015', '15/05/2011',
       '15/08/2012', '15/05/2013', '15/08/2010', '15/08/2024',
       '01/04/2021', '01/03/2011', '01/07/2017', '01/01/2031',
       '01/01/2013', '01/01/2017', '01/01/2014', '01/01/2012',
       '01/01/2010', '01/07/2010', '01/01/2011', '17/03/2010',
       '16/03/2011', '07/03/2012', '07/03/2013', '07/03/2014',
       '01/10/2009', '15/05/2035', '15/05/2045', '01/07/2008',
       '15/05/2009', '15/08/2008', '01/04/2008', '18/03/2009',
       '18/06/2008', '08/03/2013', '01/10/2008', '01/01/2009',
       '01/07/2009', '01/04/2009', '01/01/2008', '01/10/2007',
       '01/07/2007', '15/05/2007', '07/03/2015', '01/01/2021',
       '01/07/2011', '01/12/2006', '17/01/2007', '01/10/2006',
       '01/04/2007', '01/01/2007', '15/08/2006', '01/07/2006',
       '18/01/2006', '01/01/2006', '01/04/2006', '01/12/2005',
       '01/10/2005', '15/05/2055', '15/08/2032', '15/08/2026',
       '15/08/2040', '15/08/2030', '15/05/2029', '01/01/2033',
       '01/01/2027', '01/01/2025', '01/01/2029', '15/12/2054',
       '15/12/2074', '15/12/2084', '15/12/2079', '15/12/2064',
       '15/12/2059', '15/12/2049', '15/12/2069', '15/12/2031',
       '15/12/2030', '15/12/2043', '15/12/2042', '15/12/2039',
       '15/12/2034', '15/12/2035', '15/12/2041', '15/12/2032',
       '15/12/2033', '15/12/2045', '15/12/2040', '15/12/2037',
       '15/12/2038', '15/12/2036', '15/12/2044', '01/09/2024',
       '01/03/2027', '01/03/2029', '01/03/2025', '01/03/2026',
       '01/07/2024', '01/01/2026', '15/08/2050', '01/01/2023',
       '01/03/2023', '01/01/2022', '01/03/2021', '01/01/2020',
       '15/05/2019', '01/01/2019', '01/01/2018', '07/03/2017',
       '01/01/2016', '01/01/2015', '01/07/2005', '01/04/2005',
       '16/02/2005', '04/01/2005'], dtype=object)

In [ ]:
agrupar_titulo = df.groupby(['Tipo Titulo','Data Vencimento','Data Base','Taxa Compra Manha']).size()
agrupar_titulo

Tipo Titulo     Data Vencimento  Data Base   Taxa Compra Manha
Tesouro Educa+  15/12/2030       01/08/2023  5,06                 1
                                 01/09/2023  5,23                 1
                                 02/08/2023  5,05                 1
                                 03/08/2023  5,02                 1
                                 04/08/2023  5,02                 1
                                                                 ..
Tesouro Selic   18/06/2008       31/10/2005  0,23                 1
                                 31/10/2006  -0,01                1
                                 31/10/2007  -0,02                1
                                 31/12/2004  0,33                 1
                                 31/12/2007  -0,02                1
Length: 134120, dtype: int64

## Criar intersecção de datas...parei aqui

In [ ]:
#Selecionar título público
titulo = ['Tesouro Prefixado']
tp =agrupar_titulo[titulo]
tp

NameError: name 'agrupar_titulo' is not defined

In [ ]:
tp.plot()

# PAREI AQUI... dividir os quartis

In [ ]:
tp.head()

#q1 = tp.quantile(.75)
#q1

NameError: name 'tp' is not defined

In [ ]:
Q1 = np.percentile(tp['Tesouro Educa+'],[25,50,75])
Q1
#print('Q2 =',np.quantile('Tesouro Educa+', .50))
#print('Q3 =',np.quantile('Tesouro Educa+', .75))
#print('Q4 =',np.quantile('Tesouro Educa+', .100))

In [ ]:
df.head()



#x=df.loc[df['Tesouro Selic',:]]
#x

#sb.distplot(df{['Tesouro Selic',:])

In [ ]:
#sb.histplot(df['Tipo Titulo'])

#ajusta o layout para não haver sobreposição
#plt.tight_layout()

In [ ]:
#x=iloc.[Tipo Titulo['Tesouro Selic']]
#x